.disciplina-button{
    display: block;
    text-align: center;
    height: auto;
    width: 200px;
    border: 2px solid black;
    border-radius: 10px;
    font-size:20px;
    margin-right: auto;
    margin-left: auto;
}

