input[type="text"]{
    background-color:#E69292;
    color:black;
    padding:10px;
    border:black;
    border-radius: 10px;
}

input[type="password"]{
    background-color:#E69292;
    color:black;
    padding:10px;
    border:black;
    border-radius: 10px;
}