.disciplina-button{
    display: block;
    text-align: center;
    height: 50px;
    width: 300px;
    border: 2px solid black;
    border-radius: 10px;
    font-size:20px;
    margin-top: 30px;
    margin-right: auto;
    margin-left: auto;
}

.voltar-button{
    background-color: yellow;
    color: black;
    border-radius: 9px;
    width: 100;
    height: 70;
}

.header{
    background-color: gray;
}

.main{
    background-color: gray;
}

input[type="text"]{
    background-color:#E69292;
    color:black;
    padding:10px;
    border:black;
    border-radius: 10px;
}

input[type="password"]{
    background-color:#E69292;
    color:black;
    padding:10px;
    border:black;
    border-radius: 10px;
}

